td img {
    width: 50px;
}

tr > td:last-of-type::before {
    content: "upper: ";
}

a {
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css);
