.flowingpanel
{
    float:left;
    min-height: 99px;
    min-width: 99px;
    background-color: rgb(238, 238, 236);
    margin: 9px;
    padding: 3px;
    /*border: 1pt solid darkgray;*/
}
.flowingtable
{
    border-bottom-color: aqua;
}
