
body { left: 0px; top: 0px; }

@font-face {   
  font-family: 'opensans';
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('OpenSans-Regular.ttf') format('truetype');		
    font-weight: 400;
}

h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,nobr,b,i, p, span, div { 
	color: #2a3136;
	font-size: 13px;
	font-family: 'Open Sans' , 'Arial' , sans-serif;
	font-weight: 400;
	line-height: 18px;
}

h1,h2,h3,h4 { font-weight:bold; font-size:20px; }


input.text {
	font-family: 'Open Sans' , 'Arial' , sans-serif;
	font-weight: 400; 
	font-size: 13px; 
	color:#2a3136;
}
input{
	font-family: 'Open Sans' , 'Arial' , sans-serif;
	font-weight: 400; 
	font-size: 13px; 
	color:#2a3136;
}
select{
	font-family: 'Open Sans' , 'Arial' , sans-serif;
	font-weight: 400; 
	font-size: 13px;  
	color:#2a3136;
}
textarea{
	font-family: 'Open Sans' , 'Arial' , sans-serif;
	font-weight: 400; 
	font-size: 13px; 
	color:#2a3136;
}
a:link,a:visited,a:active{
	font-family: 'Open Sans' , 'Arial' , sans-serif; font-size:13px; line-height: 18px; color:#2f7d00; font-weight: 400; text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
p{
	font-family: 'Open Sans' , 'Arial' , sans-serif;
	font-weight: 400; 
	font-size: 13px; 
	color:#2a3136;
	line-height:18px;
}

hr { margin: 0px; padding-top: 0px; padding-bottom: 0px; color: Black; }

A.ocdmenudark:ACTIVE { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration:none; padding-left:0px;}
A.ocdmenudark:LINK { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration:none;padding-left:0px;}
A.ocdmenudark:VISITED { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration:none;padding-left:0px;}
A.ocdmenudark:HOVER { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration : underline;padding-left:0px;}

A.ocdmenublack:ACTIVE { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration:none; padding-left:0px;font-size:11px; line-height: 14px;}
A.ocdmenublack:LINK { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration:none;padding-left:0px;font-size:11px; line-height: 14px;}
A.ocdmenublack:VISITED { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration:none;padding-left:0px;font-size:11px; line-height: 14px;}
A.ocdmenublack:HOVER { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00; text-decoration : underline;padding-left:0px;font-size:11px; line-height: 14px;}

A.ocdmenuwhite:ACTIVE { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400;line-height: 18px; color:#88c540; text-decoration:none;font-size:14px;  }
A.ocdmenuwhite:LINK { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400;line-height: 18px; color:#88c540; text-decoration: none;font-size:14px; }
A.ocdmenuwhite:VISITED { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400;line-height: 18px; color:#88c540; text-decoration:none;font-size:14px; }
A.ocdmenuwhite:HOVER { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400;line-height: 18px; color:#88c540; text-decoration : underline;font-size:14px;}

A.ocdlogout:ACTIVE { font-family: 'Open Sans' , 'Arial' , sans-serif; color:#AFEE5C; text-decoration:none;font-size:13px; line-height: 18px;  }
A.ocdlogout:LINK { font-family: 'Open Sans' , 'Arial' , sans-serif; color:#AFEE5C; text-decoration: none;font-size:13px;line-height: 18px;  }
A.ocdlogout:VISITED { font-family: 'Open Sans' , 'Arial' , sans-serif; color:#AFEE5C; text-decoration:none;font-size:13px; line-height: 18px; }
A.ocdlogout:HOVER { font-family: 'Open Sans' , 'Arial' , sans-serif; color:#FFFFFF; text-decoration : underline;font-size:13px;line-height: 18px; }


A.ocdmenucharcoal:ACTIVE { font-family:'Open Sans',  Arial, Helvetica, Geneva, sans-serif; color:#2a3136; text-decoration:none;font-weight: 400;font-size:11px;  }
A.ocdmenucharcoal:LINK { font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif; color:#2a3136; text-decoration:none;font-weight: 400;font-size:11px;  }
A.ocdmenucharcoal:VISITED { font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif; color:#2a3136; text-decoration:none;font-weight: 400;font-size:11px;  }
A.ocdmenucharcoal:HOVER { font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif; color:#2a3136; text-decoration : underline;font-weight: 400;font-size:11px; }

A.ocdmenudarkgrey:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#333333; text-decoration:none; }
A.ocdmenudarkgrey:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#333333; text-decoration:none; }
A.ocdmenudarkgrey:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#333333; text-decoration:none; }
A.ocdmenudarkgrey:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#333333; text-decoration : underline;}

A.ocdmenudarkblue:ACTIVE { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00;line-height: 18px;font-size:13px; text-decoration:none; background:url(../img/icon_link_arrow_light.png) 0 4px no-repeat;padding-left:10px;}
A.ocdmenudarkblue:LINK { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00;line-height: 18px;font-size:13px; text-decoration:none; background:url(../img/icon_link_arrow_light.png) 0 4px no-repeat;padding-left:10px;}
A.ocdmenudarkblue:VISITED { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00;line-height: 18px;font-size:13px; text-decoration:none; background:url(../img/icon_link_arrow_light.png) 0 4px no-repeat;padding-left:10px;}
A.ocdmenudarkblue:HOVER { font-family: 'Open Sans' , 'Arial' , sans-serif;font-weight: 400; color:#2f7d00;line-height: 18px;font-size:13px; text-decoration : underline; background:url(../img/icon_link_arrow_light.png) 0 4px no-repeat;padding-left:10px;}

A.ocdmenuorange:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#4a9216; text-decoration:none; }
A.ocdmenuorange:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#4a9216; text-decoration:none; }
A.ocdmenuorange:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#4a9216; text-decoration:none; }
A.ocdmenuorange:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#4a9216; text-decoration : none; }

A.ocdmenulightorange:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#ffCC00; text-decoration:none; }
A.ocdmenulightorange:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#ffCC00; text-decoration:none; }
A.ocdmenulightorange:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#ffCC00; text-decoration:none; }
A.ocdmenulightorange:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#ffCC00; text-decoration : none; }

A.ocdmenumidgrey:ACTIVE, A.ocdmenumidgrey:LINK, A.ocdmenumidgrey:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#999999; text-decoration:none; }
A.ocdmenumidgrey:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#999999; text-decoration : underline;}

A.gennav:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px; color:#FFFFFF; text-decoration : none;}
A.gennav:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px; color:#FFFFFF; text-decoration : none;}
A.gennav:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px; color:#FFFFFF; text-decoration : none;}
A.gennav:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px; color:#FFFFFF; text-decoration : none;}

A.primenav:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;font-weight: 400;  color:#2f7d00; text-decoration : none;}
A.primenav:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;font-weight: 400;  color:#2f7d00; text-decoration : none;}
A.primenav:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;font-weight: 400;  color:#2f7d00; text-decoration : none;}
A.primenav:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;font-weight: 400;  color:#2f7d00; text-decoration : underline;}

A.ariadne:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#000000; text-decoration : none;}
A.ariadne:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#000000; text-decoration : none;}
A.ariadne:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#000000; text-decoration : none;}
A.ariadne:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#000000; text-decoration : underline;}

A.hypersmall:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#2a3136; text-decoration : none;}
A.hypersmall:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#2a3136; text-decoration : none;}
A.hypersmall:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#2a3136; text-decoration : none;}
A.hypersmall:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#000000; text-decoration : underline;}

A.tableheadmatches:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#f1f2f2; text-decoration : underline;}
A.tableheadmatches:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#f1f2f2; text-decoration : none;}
A.tableheadmatches:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#f1f2f2; text-decoration : none;}
A.tableheadmatches:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#f1f2f2; text-decoration : underline;}

.tabledata A : ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px; color:#88c540; text-decoration : none;}
.tabledata A : LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px; color:#88c540; text-decoration : none;}
.tabledata A : VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px; color:#88c540; text-decoration : none;}
.tabledata A : HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px; color:#88c540; text-decoration : underline;}

A.tablehead:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; font-weight : 400;}
A.tablehead:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; font-weight : 400;}
A.tablehead:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; font-weight : 400;}
A.tablehead:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; font-weight : 400;text-decoration : underline;}

A.tablecopy:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : underline; font-weight : bold;}
A.tablecopy:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : underline; font-weight : bold;}
A.tablecopy:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : underline; font-weight : bold;}
A.tablecopy:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : underline; font-weight : bold;}

A.tableLink:ACTIVE { font-family: 'Open Sans' , 'Arial' , sans-serif; font-size : 11pt; color:#88c540; font-weight: normal; text-decoration : none;}
A.tableLink:LINK { font-family: 'Open Sans' , 'Arial' , sans-serif; font-size : 11pt; color:#88c540; font-weight: normal; text-decoration : none;}
A.tableLink:VISITED { font-family: 'Open Sans' , 'Arial' , sans-serif; font-size : 11pt; color:#88c540; font-weight: normal; text-decoration : none;}
A.tableLink:HOVER { font-family: 'Open Sans' , 'Arial' , sans-serif; font-size : 11pt; color:#88c540; font-weight: normal; text-decoration : underline;}

A.footer:ACTIVE { font-family: 'Open Sans' , 'Arial' , sans-serif; font-size : 11px;line-height: 14px;  color:#2a3136; text-decoration : underline;}
A.footer:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px;line-height: 14px;  color:#2a3136; text-decoration : underline;}
A.footer:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px;line-height: 14px;  color:#2a3136; text-decoration : underline;}
A.footer:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px;line-height: 14px;  color:#2a3136; text-decoration : underline;}

A.detail:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : underline;}
A.detail:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : none;}
A.detail:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : underline;}
A.detail:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#88c540; text-decoration : underline;}

A.intertable:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#88c540; font-size : 13px;line-height: 18px;  text-decoration:none; font-weight: bold;}
A.intertable:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#88c540; font-size : 13px;line-height: 18px;  text-decoration:none; font-weight: bold; }
A.intertable:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#88c540; font-size : 13px;line-height: 18px;  text-decoration:none; font-weight: bold; }
A.intertable:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#88c540; font-size : 13px;line-height: 18px;  text-decoration : underline; font-weight: bold; }

A.table12:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00; font-weight : 400; font-size : 13px;line-height: 18px;  text-decoration:none;}
A.table12:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00; font-weight : 400; font-size : 13px;line-height: 18px;  text-decoration:none;}
A.table12:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00; font-weight : 400; font-size : 13px;line-height: 18px;  text-decoration:none;}
A.table12:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00; font-weight : 400; font-size : 13px;line-height: 18px;  text-decoration : underline;}

A.table12black:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00; font-weight : 400;font-size : 13px;line-height: 18px;  text-decoration:none;}
A.table12black:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00; font-weight : 400;font-size : 13px;line-height: 18px;  text-decoration:none;}
A.table12black:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00;font-weight : 400; font-size : 13px;line-height: 18px;  text-decoration:none;}
A.table12black:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2f7d00; font-weight : 400;font-size : 13px;line-height: 18px;  text-decoration : underline;}

A.milestonestatus:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif;font-weight : 400;color:#2f7d00; font-size : 13px;line-height: 18px;  text-decoration : none;}
A.milestonestatus:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif;font-weight : 400;color:#2f7d00; font-size : 13px;line-height: 18px;  text-decoration : none;}
A.milestonestatus:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif;font-weight : 400;color:#2f7d00; font-size : 13px;line-height: 18px;  text-decoration : none;}
A.milestonestatus:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif;font-weight : 400;color:#2f7d00; font-size : 13px;line-height: 18px;  text-decoration : none;}

A.selectall:ACTIVE { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-weight : 400;color:#88c540; font-size : 13px;line-height: 18px; text-decoration:none; }
A.selectall:LINK { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-weight : 400;color:#88c540; font-size : 13px;line-height: 18px; text-decoration: none; }
A.selectall:VISITED { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-weight : 400;color:#88c540; font-size : 13px;line-height: 18px; text-decoration:none; }
A.selectall:HOVER { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-weight : 400;color:#88c540; font-size : 13px;line-height: 18px; text-decoration : underline;}




.navdarkblue { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2a3136; font-weight : bold;}

.ariadne { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#000000; }

.standardhead { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#333333; font-weight : bold;}

.standardsubhead {
	font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif;
	font-size : 13px;
	line-height: 18px;  
	color:#2a3136; 
	font-weight : 400;
}

.standardcopy { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18 px; color:#2a3136;}

.bodydarkblue { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#2a3136;}

.logincopy { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px; color:#333333;}

.titlehead { 
	font-family: 'Open Sans' , 'Arial' , sans-serif; 
	font-weight: 400; 
	font-size : 18px;
	color:#2a3136;
	line-height: 22px;

}
.tablehead {	
	font-family:'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif;
	font-size : 13px;
	line-height: 18px;
	color:#ffffff; 
	font-weight : 400;
}
.tableheadc {
	font-family:'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif;
	font-size : 13px;
	line-height: 18px;
	background-color:#2a3136;
	color:#ffffff; 
	font-weight : 400;
}
.tableheadblack { 
	font-family: 'Open Sans' , 'Arial' , sans-serif;
	font-size : 13px;line-height: 18px;
	color:#FFFFFF;
	font-weight : 400;
}
.tableheadorange { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#ffcc00; font-weight : bold;}
.tableheadred { font-family: 'Open Sans' , 'Arial' , sans-serif; font-size : 15px; color:#ff0000; font-weight : bold;}

.tableheadsmall { font-family: 'Open Sans' , 'Arial' , sans-serif; font-weight :400; font-size : 12px; color:#FFFFFF; }

.tableheadsmallblue { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 10px; color:#2a3136; }

.tableheadmatches { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#ffcc00; font-weight : bold;}

.tablecopy { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 15px; color:#000000;}

.colhead { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#000000; font-weight : bold;}
.colheadwhite { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#FFFFFF; font-weight : bold;}

.tabledata { 
	font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; 
	font-weight: 400;
	font-size: 13px; 
	line-height: 18px;
	color:#203136;
}
.tabledataHead { 
	font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; 
	font-weight: 400;
	font-size: 13px; 
	line-height: 18px;
	color:#203136;
	background-color:#f1f2f4;
}
.legend { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px; color:#000000;}

.footer { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 11px;line-height: 14px;  color:#DDDDDD;}



.ocdstandardtext { font-size:13px;line-height: 18px;  color:#000000; }
.ocdstandardtextbold { font-size:13px;line-height: 18px;  color:#000000; font-weight:bold; }

.ocdheaderwhite { font-family:Arial, Arial Unicode MS,MS Mincho,sans-serif; font-size:line-height: 18px; px; color:#ffffff; font-weight:bold; }
.ocdmenuwhite { font-family:'Open Sans',Arial, Arial Unicode MS,MS Mincho,sans-serif;font-weight: 400; font-size:11px; color:#ffffff; }
.ocdmenublack { font-family:'Open Sans', Arial Unicode MS,MS Mincho,sans-serif; font-size:11px;line-height: 14px; color:#2a3136;font-weight: 400; }
.ocdmenugrey { font-family:Arial, Arial Unicode MS,MS Mincho,sans-serif; font-size:13px;line-height: 18px;  color:#cccccc; }
.ocdmenudarkgrey { font-family:Arial, Arial Unicode MS,MS Mincho,sans-serif; font-size:13px;line-height: 18px;  color:#333333; }
.ocdmenumidgrey { font-family:Arial, Arial Unicode MS,MS Mincho,sans-serif; font-size:13px;line-height: 18px;  color:#999999; }
.ocdmenugreysmall { font-family:Arial, Arial Unicode MS,MS Mincho,sans-serif; font-size:10px; color:#cccccc; }
.ocdmenuCharcoal { font-family:Arial, Arial Unicode MS,MS Mincho,sans-serif; font-size:13px;line-height: 18px;  color:#AFEE5C; }

.formdropdown { font-size:13px;line-height: 18px;  font-weight: bold; font-family: 'Open Sans',Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif; color: #2a3136; background-color: #e4e4e4; }
.forminput { height:20px; font-size:13px;line-height: 18px;  font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif; color: #000000; }
.forminputmultirows { font-size:13px;line-height: 18px;  font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif; color: #000000; }
.forminputblue { height:20px; width:90px; font-size:13px;line-height: 18px;  font-weight: bold; font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif; color: #2a3136; background-color: #e4e4e4;  }
.forminputreadonly { height:18px; font-size:13px;line-height: 18px;  font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif; color: #000000; background-color: #efefef; border-style: none; }

.alert { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#FF6633; }
.mandatory { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#FF0000; }

.btnsmall { 
	font-family: 'Open Sans' , 'Arial' , sans-serif;font-size : 13px;
	vertical-align:text-top;
	line-height: 18px;  
	border-radius: 4px;
	border-style:hidden;
	h_eight: 23px;
	background-image: url("../img/button_center.png");
	background-repeat: repeat-x;
	background-color: #6c9d33;
}
.btnsmall:hover { 
	font-family: 'Open Sans' , 'Arial' , sans-serif;font-size : 13px;
	vertical-align:text-top;
	line-height: 18px;  
	border-radius: 4px;
	border-style:hidden;
	h_eight: 23px;
	background-image: url("../img/button_center.png");
	background-repeat: repeat-x;
	background-color: #6c9d33;
	text-decoration: underline;
}
.btnsmalldarkblue { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; font-size : 13px;line-height: 18px;  color:#FFFFFF; background-color: #2a3136;}

/* color coding classes indicating milestone status */

.blueDRonly { font-family: 'Open Sans' , 'Arial' , sans-serif;font-size : 13px;color:#8080ff; font-weight: bold; }
.blueDRreached { font-family: 'Open Sans' , 'Arial' , sans-serif;font-size : 13px;color:#0000ff; font-weight: bold; }
.greenM2reached { font-family: 'Open Sans' , 'Arial' , sans-serif;font-size : 13px;color:#00AF33; font-weight: bold; }
.orangeM3reached { font-family: 'Open Sans' , 'Arial' , sans-serif;font-size : 13px;color:#EE7600; font-weight: bold; }
.blackM4reached { font-family: 'Open Sans' , 'Arial' , sans-serif;font-size : 13px;color:#000000; font-weight: bold; }
.error {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 13px;line-height: 18px; font-weight: bold; color: #FF0000;text-decoration: none}


/*================================================================================
01.Juni 2001modified by Nhan Lind�rfer n.lindoerfer@ff-muenchen.de
			Auslagern der Stylesheets f�r Sekund�r-Navigation
Kommentar:	Bitte Kommentare als solche immer mit entsprechenden Kommentarzeichen
			kennzeichnen, sonst erscheint Fehler bei Netscapes

================================================================================
Stylesheets f�r die Sekund�r-Navigation
================================================================================*/

.familyTitle {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 10pt;font-weight: 400; color: #336666;text-decoration: none}
.areaTitle {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 13pt;line-height: 18px; font-weight: 400; color: #000000;text-decoration: none}
.request {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 9pt;font-weight: normal; color: #000000;text-decoration: none}
.mastertableheader{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#000000;font-size:9pt;font-weight:bold;text-decoration:none;}
.tableheader{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#000000;font-size:8pt;font-weight:normal;text-decoration:none;}
.tableLink {font-family:'Open Sans', font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 13px;line-height: 18px;font-weight: 400; color:#2a3136; text-decoration: none}
.tablebody{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#000000;font-size:8pt;font-weight:normal;text-decoration:none;}
.pageHeadline {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 10pt;font-weight: normal; color: #336666;text-decoration: none}
.attention {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 9pt;font-weight: 400; color: #A40052;text-decoration: none}
.welcome {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 20pt;font-weight: 400; color: #336666;text-decoration: none}
.productTitle{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#000000;font-size:9pt;font-weight:normal;text-decoration:none;}
.alert{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#FF6633;font-size:8pt;font-weight:normal;text-decoration:none;}
.searchResult{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#0000FF;font-size:8pt;font-weight:normal;text-decoration:none;}
.message {font-family: font-family: 'Open Sans' , 'Arial' , sans-serif;font-size: 9pt;font-weight: 400; color: #000000;text-decoration: none}
.tableheaderreport{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#000000;background-color:#ffcc00;font-size:8pt;font-weight:normal;text-decoration:none;border:thin solid black;border-collapse:collapse;border-width:1px;padding-left:2;padding-right:2;text-align:center;}
.tablebodyreport{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#000000;font-size:7pt;font-weight:normal;text-decoration:none;border:thin solid black;border-collapse:collapse;border-width:1px;padding-left:2;padding-right:2;vertical-align:top}
.tablebodylist{font-family:Arial, Arial Unicode MS,MS Mincho,helvetica,sans-serif;color:#000000;font-size:7pt;font-weight:normal;text-decoration:none;padding-bottom:4;vertical-align:top}
.divhead { font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif; font-size : 18px;line-height: 22px; color:#2a3136; font-weight : regular; background-color: #ffffff; padding: 4px;}

.leftStyle_large {
    background-image: url("../img/button_right.png");
    background-repeat: no-repeat;
    float: right;
    height: 40px;
	width: 4px;
}

.rightStyle_large {
    background-image: url("../img/button_left.png");
    background-repeat: no-repeat;
    float: right;
    height: 40px;
	width: 4px;
}

div.loginbutton_large a {
    background-image: url("../img/button_center.png");
    background-repeat: repeat-x;
    float: right;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
	font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif;
	color: #203136;
	font-weight: 400;
	font-size: 13px;
	line-height: 40px;
	padding: 0 10px;
}
.leftStyle {
    background-image: url("../img/button_right_small.png");
    background-repeat: no-repeat;
    float: right;
    height: 20px;
	width: 4px;
}

.rightStyle {
    background-image: url("../img/button_left_small.png");
    background-repeat: no-repeat;
    float: right;
    height: 20px;
	width: 4px;
}

div.loginbutton a {
    background-image: url("../img/button_center_small.png");
    background-repeat: repeat-x;
    float: right;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
	font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif;
	color: #203136;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	padding: 0 10px;
}
.trborder
{
	background: url("../img/bg_navi.png") 0 0 repeat-x transparent;
}
.terms {
	font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif;
	font-size : 11px;
	line-height: 14px;
	color:#2a3136; 
	font-weight : 400; 
	position:absolute;
	top:92%; 
	margin-left:10px;
}
.terms a:link,a:visited,a:active{
	font-family: 'Open Sans' , 'Arial' , sans-serif; line-height: 14px; color:#2f7d00; font-weight: 400; text-decoration:none;
}
.terms a:hover {
	text-decoration:underline;
}
.copy {
	font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif;
	font-size : 11px;
	line-height: 14px;
	color:#2a3136; 
	font-weight : 400; 
	position:absolute;
	top:95%; 
	margin-left:10px;
}
.appTitle {
	font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif;
	font-size : 20px;
	line-height: 40px;
	color:#ffffff; 
	font-weight : 400; 
	margin-left:0px;
}
.subTitle {
	font-family:'Open Sans', Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color:#2a3136;
}
.headline { font-family: 'Open Sans', Arial, Arial Unicode MS,MS Mincho, Helvetica, Geneva, sans-serif; color:#2a3136; text-decoration:none; font-size : 14px; font-weight: 400;}