<div id="appWrapper">

  <div class='appWrapperInner'>
    <!-- sidebar -->
    <div class="sidebar sidebar--left hidden-print sidebar--left--open sidebar--left--mobile--open">
      <div class="sidebar__container scrolling__container">
        <ae-main-navigation></ae-main-navigation>
      </div>
    </div>
    <!-- / sidebar -->
    <div class="app-content pushed-right pushed-right--mobile">

      <!-- top navbar -->
      <ae-navbar></ae-navbar>

      <!-- main content -->
      <div class="main-content">
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

</div>
